html, body {
  background-color: #0d0d0d;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  padding: 4em;
  font-family: arial;
  background-color: #e6e6e6;
  border: 0.3em solid #001b4d;
  box-shadow: 2px 2px 2px #1a1a1a;
}

body > div {
  position: relative;
  text-align: left;
  display: block;
}

button {
  width: 2.5em;
  height: 2.5em;
  font-weight: bold;
  box-shadow: 2.5px 2.5px 2.5px #cccccc;
  outline: none;
  background-color: #cccccc;
}

button:active {
  transform: scale(1.1)
}

button:hover {
  background-color: #d9d9d9;
}

.editor {
  display: inline-block;
  width: 15em;
  padding: 0.25em;
  text-align: center;
}

.editor > h3 {
  font-family: cursive;
}

.editor > button {
  display: inline;
  border: 2px solid black;
  box-shadow: 2.5px 2.5px 2.5px #737373;
  border-radius: 5em;
}

.progress-bar {
  height: 100%;
  width: 1%;
  background-color: #009900;
  position: absolute;
  z-index: 1;
}

#title {
  text-align: center;
  font-family: cursive;
  margin-top: -3.5em;
  border-bottom: 2px solid black;
}

#session-time, #rest-time {
  font-weight: bold;
  display: inline;
  padding: 0.5em;
  text-align: center;
  font-family: cursive;
}

#toggle-start {
  margin-left: 1.7em;
  width: 6em;
  height: 5em;
  border-radius: 1em;
  border: 2px solid black;
  box-shadow: 2.5px 2.5px 2.5px #737373;
  font-family: cursive;
  cursor: pointer;
}

#current-timer {
  padding-left: 0.2em;
  text-decoration: overline;
  font-style: italic;
  font-family: cursive;
}

#count-down {
  position: relative;
  border: 3px solid #4d4d4d;
  width: 8em;
  height: 4em;
  box-shadow: 2.5px 2.5px 2.5px #737373;
  background-color: #e6e6e6;
  margin-bottom: 1em;
  border-radius: 5px;
}

#timer {
  position: absolute;
  z-index: 2;
  left: 0.75em;
  bottom: -0.26em;
}

#clock {
  padding-top: 2.5em;
  left: 12em;
  position: relative;
  padding-right: 3.5em;
}

@media only screen and (max-width: 540px) {
  #clock {
    left: 4em;
  }
}
